@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #151515;
    color: #FFF;
    font-family: 'Montserrat';
}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
}

#welcome-section, #about, #projects, #contacts {
    padding: 12vh 2em 2em;
}

.nav-toggle, #welcome-section, .title, .social, #about, .social-links {
    display: flex;
    flex-direction: column;
}

.number {
    font-size: clamp(2.5rem, 6vw, 4.5rem);
    font-weight: 600;
    letter-spacing: 5px;
    color: #A31313;
}

.header {
    font-size: clamp(2.3rem, 6.5vw, 6rem);
    font-weight: 600;
    letter-spacing: 5px;
}

.social a, .social-container i {
    padding: .3em 0;
    font-size: 1.5rem;
    justify-self: center;
    color: #A31313;
    transition: .4s ease-in;
}

.social a:hover {
    color: #FFF;
}

nav {
    z-index: 50;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    height: 12vh;
    width: 100%;
    background-color: #151515;
}

.nav-toggle {
    align-items: flex-end;
    padding: 1em;
    margin-left: auto;
    margin-right: 5%;
    cursor: pointer;
}

.line1, .line2 {
    height: .3em;
    margin: .4em;
    background-color: #FFF;
    transition: all .3s ease-in-out;
}

.line1 {
    width: 3.5em;
}

.line2 {
    width: 2em;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    width: 2.5em;
    z-index: 20;
}

.toggle .line2 {
    transform: rotate(45deg) translate(-5px, -6px);
    width: 2.5em;
    z-index: 20;
}

/* .line {
    width: 3.5em;
    height: .3em;
    background: #FFF;
    transition: all .3s ease-in-out;
}

.line::after {
    content: '';
    position: absolute;
    height: .3em;
    right: 7%;
    width: 2em;
    transform: translateY(1em);
    background: #FFF;
    transition: all .3s ease-in-out;
}

.toggle .line {
    transform: rotate(-45deg) translate(-15px, 15px);
    width: 2.5em;
    z-index: 20;
}

.toggle .line::after {
    transform: rotate(45deg) translate(-15px, -15px);
    width: 2.5em;
    z-index: 20;
} */

.nav-menu {
    z-index: 10;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #151515;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
}

.nav-menu.open {
    clip-path: circle(3000px at 90% -20%);
    -webkit-clip-path: circle(3000px at 90% -20%);
    pointer-events: all;
}

.nav-menu ul {
    margin-top: 14em;
}

.nav-menu li {
    opacity: 0;
}

.nav-menu li:nth-child(1) {
    transition: all .5s ease .4s;
}

.nav-menu li:nth-child(2) {
    transition: all .5s ease .6s;
}

.nav-menu li:nth-child(3) {
    transition: all .5s ease .8s;
}

li.fade {
    opacity: 1;
}

.nav-menu a {
    margin-left: 10%;
    font-size: clamp(2.5rem, 8vw, 8rem);
    font-weight: 600;
    color: #FFF;
    transition: .4s ease-in-out;
}

.nav-menu a:hover {
    color: #A31313;
}

#welcome-section {
    height: 100vh;
    justify-content: space-between;
}

.title {
    margin-top: 40%;
    font-size: clamp(2.5rem, 7vw, 7.5rem);
    font-weight: 700;
}

.title h1:first-of-type {
    align-self: flex-start;
}

.title h1:last-of-type {
    align-self: flex-end;
}

/* .title::before, .title::after {
    content: '';
    position: relative;
    width: 2px;
    height: 4em;
    background: #707070;
}

.title::before {
    transform: translate(6.5em, -2.6em);
    transform: translateY(1.2em);
    margin-right: 0;
    margin-left: auto;
}

.title::after {
    transform: translateY(-1.2em);
} */

.social {
    align-items: flex-start;
    margin: auto 0 0;
}

/* .arrow {
    position: relative;
    margin-right: 0;
    margin-left: auto;
    width: 2px;
    height: 2.5em;
    background: #707070;
    transform: all .4s ease-in;
}

.arrow::before, .arrow::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 1em;
    background: #707070;
    transform: all .4s ease-in;
}

.arrow::before {
    transform: rotate(-45deg) translate(-15px, -15px);
}

.arrow::after {
    transform: rotate(45deg) translate(-15px, 15px);
} */

.text p {
    padding: 1em 0;
    line-height: 2;
}

.images {
    align-self: flex-end;
}

.images img, .frame {
    height: clamp(15em, 50vw, 20em);
}

.images img {
    width: auto;
    margin-top: 5em;
    margin-right: 2.5em;
    object-fit: cover;
}

.frame {
    width: clamp(10em, 40%, 15em);
    position: absolute;
    z-index: -1;
    border: #A31313 solid 3px;
    transform: translate(2em, -17em);
}

.project-tile {
    margin: 2em 1em;
}

.project-tile img {
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto;

}

.work-title {
    font-size: clamp(1rem, 3vw, 1.5rem);
    margin: 1em;
    text-align: center;
    word-wrap: normal;
    color: #A31313;
}

.social-links {
    justify-content: center;
    width: clamp(10em, 80vw, 25em);
    margin: 1.5em auto;
    padding: 1em 0;
    border: 2px solid #707070;
}

.social-container a {
    display: grid;
    gap: 1em;
    grid-template:
        "logo label" 1fr / 1fr 1fr;
}

.social-container a p {
    font-size: clamp(1rem, 3vw, 1.5rem);
    align-self: center;
    color: #FFF;
}

.gmail i {
    grid-area: logo;
}

.gmail p {
    grid-area: label;
}

.linkedin i {
    grid-area: logo;
}

.linkedin p {
    grid-area: label;
}

.facebook i {
    grid-area: logo;
}

.facebook p {
    grid-area: label;
}

footer {
    width: 100%;
    padding: 1.5em;
    text-align: center;
}

@media (min-width: 768px) {
    #welcome-section, #about, #projects, #contacts {
        height: 100vh;
        display: grid;
        padding: 4em;
    }
    #welcome-section {
        grid-template: 
        ". . ." 1fr 
        "social header ." 3fr
        ". . scroll" 1fr / 1fr 4fr 1fr;
        justify-items: center;
        align-items: center;
    }

    .social {
        grid-area: social;
        margin: auto auto auto 0;
    }

    .title {
        grid-area: header;
        margin-top: 0;
        width: 80%;
    }

    .title h1:first-of-type {
        justify-self: start;
    }

    .title h1:last-of-type {
        justify-self: end;
    }

    #about {
        grid-template: 
        "text image" 1fr / 1.4fr 1fr;
    }

    .text p {
        width: 70%;
    }

    .images {
        justify-self: center;
    }

    .frame {
        transform: translate(1.5em, -22em);
    }

    #projects {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    #projects .header {
        align-self: end;
        grid-column: 5 / 7;
        grid-row: 1 / 2;
    }

    #projects .number {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        align-self: end;
    }

    .project-tile {
        margin: 1em 0 0;
    }

    .project-tile:nth-of-type(1) {
        grid-column: 2 / 4;
        grid-row: 2 / 3;
    }

    .project-tile:nth-of-type(2) {
        grid-column: 4 / 6;
        grid-row: 2 / 3;
    }

    .project-tile:nth-of-type(3) {
        grid-column: 2 / 4;
        grid-row: 3 / 4;
    }

    .project-tile:nth-of-type(4) {
        grid-column: 4 / 6;
        grid-row: 3 / 4;
    }

    #contacts {
        grid-template: 
            ". label ." 1fr
            ". box ." 1fr / 1fr 2fr 1fr;
    }

    #contacts .text {
        grid-area: label;
        align-self: end;
    }

    .social-links {
        width: 100%;
        grid-area: box;
    }
}